body {
    background-image: url("img/NMPIXEL/NM1.png");
    color: #fff;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background-color: #e1dddd;
    border: #000000 2px solid;
}
.Name {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.options {
    list-style: none;
    display: flex;
    gap: 30px;
}

.options a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: 0.1s;
}

.options a:hover {
    color: red;
}
.subtitle {
    margin: 18px 0;
    font-size: 16px;
    opacity: 0.8;
}


/* ABOUT SECTION */
.about-section {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about_me {
    max-width: 600px;
    background-color: #e1dddd;
    border-radius: 10%;
    padding: 30px 40px;
}

.about_me h1 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.about_me p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 18px;
    color: #000000;
    content: justify;
}

.myimage img {
    width: 450px;
    height: 450px;
    object-fit:cover;
    border-radius: 20%;
}

.game-names{
    font-weight: bold;
    color: rgb(0, 0, 0);
}
