body {
    background-color: #085456;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}
.Name {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color: cornsilk;
}

.options {
    list-style: none;
    display: flex;
    gap: 20px;
}

.options a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    transition: 0.1s;
}

.options a:hover {
    color: red;
}

.subtitle {
    margin: 18px 0;
    font-size: 16px;
    opacity: 0.8;
}


.section-title {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 400;
    color: cornsilk;

}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 350px;
    border-radius: 5%;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-box button {
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-box a {
    text-decoration: none;
    color: inherit;
}
.Download-text {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

.game-images {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-left: 550px;
    width: 120px;
    height: 120px;
}