body {
    background-color: #00076d;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}
.Name {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color: cornsilk;
}

.options {
    list-style: none;
    display: flex;
    gap: 30px;
}

.options a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    transition: 0.1s;
}

.options a:hover {
    color: red;
}

.subtitle {
    margin: 18px 0;
    font-size: 16px;
    opacity: 0.8;
}


/* CONTACT SECTION */
.contact-section {
    padding: 60px 80px;
    text-align: center;
}

.contact-section h1 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 400;
    color: cornsilk;
}

.contact-text {
    font-size: 16px;
    margin-bottom: 40px;
    color: #ccc;
}

/* SOCIAL ICONS */
.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-links a {
    width: 55px;
    height: 55px;
    border: 1px solid #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
    font-size: 22px;
    transition: 0.2s;
}

.social-links a:hover {
    color: red;
    border-color: red;
    transform: translateY(-5px);
}
