body {
    background-color: #085456;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}
.Name {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color: cornsilk;
}

.options {
    list-style: none;
    display: flex;
    gap: 20px;
}

.options a {
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    transition: 0.1s;
}

.options a:hover {
    color: red;
}

.subtitle {
    margin: 18px 0;
    font-size: 16px;
    opacity: 0.8;
}


/* PROJECT SECTION */
.project-section {
    padding: 40px 80px;
}

.section-title {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 400;
    color: cornsilk;
}

/* GRID */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

/* BOX */
.project-box {
    height: 140px;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #ddd;
    transition: 0.2s;
    cursor: pointer;
}
.project-box a {
    text-decoration: none;
    color: inherit;
}

.project-box:hover {
    border-color: red;
    color: red;
    transform: translateY(-5px);
}
