body {
    background-color: #ffffff;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}
.Name {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.options {
    list-style: none;
    display: flex;
    gap: 30px;
}

.options a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: 0.1s;
}

.options a:hover {
    color: red;
}
.subtitle {
    margin: 18px 0;
    font-size: 16px;
    opacity: 0.8;
}


/* ABOUT SECTION */
.about-section {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.about_me {
    max-width: 600px;
}

.about_me h1 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.about_me p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 18px;
    color: #000000;
    content: justify;
}

.myimage img {
    width: 400px;
    height: 400px;
    object-fit:cover;
    border-radius: 20%;
}
